@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background-color: rgb(36, 36, 36);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

.social-svg-icon {
    height: 40px !important;
    width: 40px !important;
}


@layer components {
    .heroButton {
        @apply px-4 mx-3 mt-10 py-1
        uppercase border border-transparent
        text-xs tracking-widest rounded-full transition-all  duration-300  text-gray-400 cursor-pointer hover:border-primary
        hover:text-primary
    }
}