@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background-color: rgb(36, 36, 36);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

.social-svg-icon {
    height: 40px !important;
    width: 40px !important;
}


@layer components {
    .heroButton {
        @apply px-10 mx-3 mt-10 py-1
        uppercase border border-transparent
        text-xs tracking-widest rounded-full transition-all  duration-300  text-gray-400 cursor-pointer hover:border-primary
        hover:text-primary
    }

    .contact-input {
        @apply w-auto
        outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-primary/40 focus:text-primary hover:border-primary/40
    }
}